.search-box input {
    border: 2px solid #a8b1be;
    }

.home .hero .action-button {
    background-color: #4e6e8e
}

.home .hero img {
    max-height: 480px;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    border-bottom: 2px solid #2d3475
}

.home .hero h1 {
    font-size: 2.2rem;
}

a {
    font-weight: 500;
    color: #2d3475;
    text-decoration: none;
}