$accentColor = #2d3475
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.search-box input {
    border: 2px solid #2e67aa;
    }

.home .hero .action-button {
    background-color: #2e67aa
    border-bottom: 1px solid #2e67aa
}

.home .hero img {
    max-height: 480px;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    border-bottom: 2px solid #2d3475
}

.home .hero h1 {
    font-size: 2.2rem;
}

a {
    font-weight: 500;
    color: #2d3475;
    text-decoration: none;
}

a.sidebar-link.active {
    color: #2e67aa
    border-left-color: #2e67aa
}

.custom-block.tip {
    border-color: #2e67aa
}

.navbar .site-name {
    color: #ffffff
}    